*.DS_Store
._*
vendor/
settings.php
.vscode/
.DS_Store
composer.phar
public/global-assets/files
public/global/files
public/data.db
public/app.log
private/cert.pem
private/key.pem
@TODO
public/data_justshareme.db
logs/
logs/app.log
