/*
  Global Styles
*/
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Fix for the iOS list dividers */
.ios .list-dividers-ios .item-inner::after {
    width: calc(100% - 15px);
}
