/*
  Global Styles
*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Fix for the iOS list dividers */
.ios .list-dividers-ios .item-inner::after {
  width: calc(100% - 15px);
}

/* simplemde Styles */
.editor-toolbar {
  border: none !important;
}

.CodeMirror {
  border: none !important;
  font-family: 'Menlo', monospace;
  font-size: 14px;
}

.editor-statusbar {
  padding: 8px 15px;
  text-transform: lowercase;
}

.editor-statusbar span {
  padding: 1px 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.editor-toolbar {
  opacity: 1;
}

.editor-toolbar a:hover {
  border: 1px solid transparent !important;
  background-color: var(--f7-page-bg-color) !important;
}

/* Helper Classes */
.outline {
  outline: 1px dashed #f0f;
}

.hidden {
  display: none !important;
}

.margin-top-10rem {
  margin-top: 10rem !important;
}

/*
User Interface
*/
.container {
  height: 100%;
  overflow: scroll;
}

.ohcrud-loader {
  width: 35px;
}

.card-login,
.card-totp {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(calc(100% - 32px), 500px);
}

.input-code {
  font-weight: bold;
  letter-spacing: 10px;
}