/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
CSS VARIABLES
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

:root {
	--color-debug: #ff00ff;
	--color-white: #ffffff;
	--color-light-gray: #bbbbbb;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
HELPER CLASSES
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

.hidden {
	display: none;
}

.center-vh {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.padding-left {
	padding-left: 5px;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
UI
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

.ohcrud-100 {
	width: 100%;
    display: flex;
}

.ohcrud-50 {
	width: 50%;
}

.ohcrud-25 {
	width: 25%;
}

#ohcrud-editor-edit {
    position: fixed;
    bottom: 15px;
	right: 15px;
    border-radius: 6px;
    border: 2px solid var(--color-light-gray);
	background-color: var(--color-white);
	background-image: url('/global-assets/images/pencil.svg');
	background-repeat: no-repeat;
	background-position: center;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 9999;
}

.CodeMirror {
	font-family: 'Menlo', monospace;
	font-size: 14px;
}

.editor-toolbar {
	opacity: 1;
}

.editor-statusbar {
	text-transform: lowercase;
}

.editor-statusbar span {
	padding: 1px 4px;
	font-family: Arial, Helvetica, sans-serif;
}

.ohcrud-loader {
	width: 40px;
}
