/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
FONTS
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
GLOBAL
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

* {
	transition: all 0.2s linear;
}

body {
	position: relative;
	background-image: url('/assets/images/tiny_grid.png');
}

h1, h2, h3, h4, h5, h6 {
	font-family: quicksand;
}

p {
	font-size: 15px;
}

pre {
	margin: 10px;
	background-color: #ccc;
	font-family: menlo, monospace;
	color: #000;
}

mark {
	background-color: #ff6;
	font-family: menlo, monospace;
	color: #000;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
THEME
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

.cl-white {
	color: #fff;
}

.bg-white {
	background-color: #fff;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
HELPER CLASSES
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

#debug {
	cursor: pointer;
}

.debug, .outline {
	outline: 1px dashed #f0f;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.monospace {
	font-family: monospace;
}

.spacer {
	height: 1080px;
}

/*
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
UI
----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----
*/

.container {
	width: 80%;
}

.label {
	font-size: 100%;
}

.sidebar {
	/*
	position: fixed;
	*/
	box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    background: #eee;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #ddd;
}

.nav>li>a {
	color: #333;
	font-family: quicksand;
	font-size: 18px;
}

.nav>li>ul>li>a {
	padding-left: 45px;
	color: #719e40;
}

.microlight {
	margin: 20px 0px 20px 0px;
	padding: 15px;
	overflow: scroll;
    font-family : monospace;
	font-size: 14px;
    white-space : pre;
	border: none;
	border-radius: 0px;
	background-color : #333;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	color: #eee;
}